{
    "parser": "babel-eslint",
    "env": {
        "jest": true,
        "node": true,
        "browser": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "max-len": [1, 150, 2, {"ignoreComments": true}],
        "semi": 0
    }
}